<tr>
  <td style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p style="margin: 0">Здравствуйте!</p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p style="margin: 0">
            Octo Browser — это не только качественный продукт, но и целое
            коммьюнити. Присоединяйтесь к Octo Browser и вам откроется доступ к
            скидками и акциями от наших партнеров:
          </p>
        </td>
      </tr>
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img"
                style="border-radius: 8px"
              >
                <img
                  src="https://i.ibb.co/Pj3r2hj/image-11-1.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 8px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img"
                style="border-radius: 8px"
              >
                <img
                  src="https://i.ibb.co/R6HBF6x/image-11-2.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 8px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td
                align="center"
                class="main-block__img"
                style="border-radius: 8px"
              >
                <img
                  src="https://i.ibb.co/SRyh3LL/image-11-3.png"
                  width="100%"
                  alt="#"
                  border="0"
                  style="border-radius: 8px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- End Image section -->

      <!-- End Text section -->
    </table>
  </td>
</tr>
